.cart {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 200px;
    max-height: 100vh;
    overflow-y: auto;
    border-radius: 10px 0 0 10px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.cart-button ~ input:checked ~ .cart {
    display: block;
    transform: translateX(0);
}
  
.cart img {
    aspect-ratio: 16/9;
    width: 100%;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}
  
.cart li {
    border-bottom: 1px solid #444;
    padding-bottom: 16px;
}
  
.cart footer {
    display: flex;
    margin-top: 6px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.cart footer button {
    padding: 8px;
    background-color: #ff6b6b;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.cart footer button:hover {
    background-color: #ff4f4f;
}

.cart-button {
    background: #ffcc00;
    border: none;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 8px;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
    transition: transform 0.2s ease-in-out;
}

.cart-button:hover {
    transform: scale(1.1);
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cart-button ~ input:checked ~ .cart {
    height: 100%;
    display: block;
}

.btn-item {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-item:hover {
    background-color: #0056b3;
}

.btn-clear {
    background-color: #ff6b6b;
    color: white;
    padding: 10px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn-clear:hover {
    background-color: #ff4f4f;
}